<%- include('./partials/header') %>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">Tables</h4>
        <div class="ms-auto text-end">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                Library
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title mb-0">Static Table</h5>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col" style="font-weight: bold;">Sr. No</th>
                <th scope="col" style="font-weight: bold;">Movie</th>
                <th scope="col" style="font-weight: bold;">Title</th>
                <th scope="col" style="font-weight: bold;">Rating</th>
                <th scope="col" style="font-weight: bold;">Description</th>
                <th scope="col" style="font-weight: bold;">Release Date</th>
                <th scope="col" style="font-weight: bold;">Generes</th>
                <th scope="col" style="font-weight: bold; text-align: center;">Action</th>  <!-- Centered Action Column -->
                
            </tr>
            
            </thead>
            <tbody>
              <% let count = 0; 
                 movies.map((movie)=>{
              %>
                <tr>
                  <th scope="row"  style="font-weight: bold;"><%= ++count %></th>
                  <td>
                    <img src="../<%= movie.image %>" alt="<%= movie.title %>" style="width: 100px; height: 100px; object-fit: cover;">
                </td>
                
                  <td><%= movie.title %></td>
                  <td><%= movie.rating %></td>
                  <td><%= movie.abt %></td>
                  <td><%= new Date(movie.date).toLocaleString("en-US", { 
                    year: "numeric", 
                    month: "short", 
                    day: "2-digit", 
                    hour: "2-digit", 
                    minute: "2-digit", 
                    hour12: true 
                  }) %></td>
                  
                  <td><%= movie.genres %></td>
                  
                  <td>
             
                    <a href="/movie/delete/<%= movie.id %>" class="dlt" style="background-color: rgb(211, 46, 46); color: white; padding: 8px 16px; text-decoration: none; border-radius: 4px; font-weight: bold; margin-right: 10px;">Delete</a>
                    <a href="/edit/<%= movie.id %>" class="edt" style="background-color: rgb(32, 109, 209); color: white; padding: 8px 16px; text-decoration: none; border-radius: 4px; font-weight: bold;">Edit</a>
                    
                  </td>
                </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Container fluid  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- footer -->
  <!-- ============================================================== -->
 <%- include('./partials/footer') %>